{% url 'charity:charity_get_all' as all_charities %}

<nav class="navbar flex justify_space_btwn">
    <div class="nav_branding">
        CharitySystem
    </div>


    <section class="nav_links flex justify_space_around items_center">
        <a href="{{ all_charities }}" class="nav_link">Charities</a>
        <a href="new" class="nav_link">NEW CHARITY</a>
        <a href="owner_charities" class="nav_link">My charities</a>
        <a href="owner" class="nav_link">My Page</a>
    </section>
</nav>
